#admin{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
#añadirArticulo{
    grid-area: 1 / 1 / 4 / 5;
    margin-top: 5%;
}
#añadirArticulo #form1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#añadirArticulo h2{
    grid-area: 1 / 1 / 2 / 3;
}
#Articuloseccion1{
    width: 30%;
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70%;
}
#Articuloseccion2{
    width: 30%;
    grid-area: 2 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Articuloseccion3{
    grid-area: 4 / 1 / 5 / 3;
}
#añadirAdmin{
    grid-area: 4 / 1 / 6 / 3;
}
#quitarAdmin{
    grid-area: 4 / 3 / 6 / 5;
}
#admin label{
    font-size: calc(0.5rem + 0.5vw);
}
#admin #Articuloseccion1 input, #Articuloseccion1 select, #Articuloseccion2 input, #Articuloseccion2 select{
    width: calc(70% - 1rem);
}
#admin #Articuloseccion1 input:focus, #Articuloseccion1 select:focus, #Articuloseccion2 input:focus, #Articuloseccion2 select:focus{
    border-color: red;
    box-shadow: 0 0 5px red;
    outline: none;
}
#admin select option:disabled:checked {
    color: gray;
}
.file-select {
    position: relative;
    display: inline-block;
}
.file-select::before {
    background-color: var(--bs-dark);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}
.selectUser{
    margin-top: calc(0.3rem + 0.4vw);
}
#admin button{
    margin-top: calc(0.3rem + 0.4vw);
}