li{
    list-style: none;
    width: 20%;
}
ul{
    display: flex;
}
#novedades{
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
}
#novedades:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#novedades h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}
